{% extends "blog/base.html" %}
{% block content %}
   {% if form.errors %}
      <p>Kullanıcı adı ve şifresi eşleşmedi. Lütfen tekrar deneyiniz.</p>
   {% endif %}
   <form method="post" action="{% url 'login' %}">
       {% csrf_token%}
       <a>Kullanıcı Girişi</a>
       <table>
           <tr>
               <td>{{ form.username.label_tag }}</td>
               <td>{{ form.username }}</td>
           </tr>
           <tr>
               <td>{{ form.password.label_tag }}</td>
               <td>{{ form.password }}</td>
           </tr>
       </table>
       <input type="submit" value="Giriş" >
       <p>Henüz kayıtlı değilseniz <a href="/kayit/">buraya tıklayarak kaydolun!</a></p>
       <input type="hidden" name="next" value="{{ next }}" >
   </form>
{% endblock %}