<html>
<head>
    <title>Aysen'in Blogu</title>
</head>
<body>
<div>
    <h1>
        <a href="/">Aysen'in ilk Blogu</a>
    </h1>
</div>
<div>
    <p>yayin tarihi: 04.07.20018, 09:33</p>
    <h2>
        <a href="">ilk Gonderim!!!</a>
    </h2>
    <p>Cok heyecanliyim! Bu benim ilk gonderim... Django ne kadar zevkli bir framework...</p>
</div>
<div>
    <p>published: 04.07.2018, 09:37</p>
    <h2>
        <a href="">ikinci gonderim</a>
        <p>Djangogirls ile django uzerinde islemler yapmak cok zevkli bir is...</p>
    </h2>
</div>
</body>

</html>